[submodule "bench/epcc"]
	path = bench/epcc
	url = ssh://vcs-user@code.systems.ethz.ch:8006/diffusion/LIBGOMP/gnu-openmp-library-with-smelt-support.git
[submodule "bench/consensus"]
	path = bench/consensus
	url = ssh://vcs-user@code.systems.ethz.ch:8006/diffusion/SMLTCONS/smelt-consensus.git
